{% extends 'NewAdminTemplateBundle::base_form.html.twig' %}
{% block list_title %} User  Creation{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('person') }}">Users</a></li>
{% endblock %}
{% block form %}
                {% if errorMessage %}<div class="error">{{errorMessage}}</div>{% endif %}
<h1>add new admin</h1>
<form action="{{ path('person_create') }}"  class="form-horizontal form-bordered form-row-stripped" method="post" >
    <span class="field">
        <label>username</label>
        <input type="text" placeholder="Full Name" id="full_name" name="username"/>
    </span>
    <span class="field">
        <label>email</label>
        <input type="text" placeholder="Email Address" id="email" name="email"/>
    </span>
    <span class="field">
        <label>password</label>
        <input type="password" placeholder="Password" id="pasword" name="password"/>
    </span>
    <span class="gender">
        <label>Gender</label>
        <span>
            <input type="radio" id="male" name="gender" checked="checked"/>
            <label for="male">Male</label>                            
        </span>
        <span>
            <input type="radio" id="female" name="gender"/>
            <label for="female">Female</label>                            
        </span>
        <br class="clear"/>
        <span>
            <input type="checkbox" checked="" name="active" value="{{1}}">
            <label>  Active  </label>            
        </span>
        <br class="clear"/>
    </span>
    <input type="submit" class="green btn" value="create"/>
    <br class="clear"/>
</form>
 {% endblock %}

{% block javascripts %}
  {% endblock %}