{% extends 'FEBundle::base.html.twig' %}

{% block title %}Thanks{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="alert alert-success" role="alert" style="margin-top: 20px;">
             Well done! You Information successfully sent, We will reply as soon as possible. 
        </div>
    </div>
</div>
{% endblock %}