<div class="title"><h3><i class="fa fa-home"></i>{{ aboutUs.title}} </h3><hr></div>
<p>{{ aboutUs.content.description|striptags|slice(0,200) }} ...</p>
<a class="btn btn-primary btn-sm" href="{{ path('fe_partner') }}"><i class="fa fa-info"></i> read more</a>